*{
  font-family: 'Raleway', sans-serif;
}

body{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: rgb(245,245,245);
}
.container-fluid{
  padding: 0;
}
.bg-light
{
     background-color: rgb(215, 215, 215) !important;
}
.o_navitems{
  margin-right:20px;
}
.o_navlinks{
  text-align: right;
  color:black;
}

.o_links{
  color:black !important;
}
.o_links:hover {
  color: #34B483 !important;
}

.__imglogo{
  width: 170px;
}
.__sep_car-oft
{
     width: 80%;
     background-color: rgba(0,0,0,0.3);
}
.__productos_destacados
{
     font-size: 44px;
     font-weight: 500;
     margin-bottom: 30px;
}
.__ofertasdeldia{
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}
.__ofertas{
  justify-content: space-around;
  margin: 20px auto;
  padding: 30px;
  max-width: 100vw;
}

.__itemoferta{
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
  padding-top: 20px;
  /* -webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.75); */
  /* -moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.75); */
  /* box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.75); */
  box-shadow: 0 0 30px -8px #000;
}
.__imgofertas{
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}
.__comprar{
  justify-content: center;
  background-color: #34B483;
  width: 70%;
  border: none;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 20px;
}
.__comprar:hover{
  background-color: black;  
}

.o_tituloitems{
  text-align: center;
  font-size: 1rem;
}

.o_titulodescripcion{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #bdbdbd;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
}

.__todos{
  border-radius: 20px;
  justify-content: center;
  background-color:#34B483;
  border: none;
  width: 300px;
  margin: 30px auto;
  font-weight: bold;
}
.__todos:hover{
  background-color:black;
}
.piedepag{
  width: 100vw;
  max-height: 1000px;
  margin: 0 auto;
  background-color: rgb(130, 130, 130);
  /* border-radius: 0px 0px 20px 20px; */
  justify-content: space-around;
}
.__artpie{
  margin: 15px auto;
  text-align: center;
}
.__artpie h4{
  font-size: 1.3rem;
  color: rgb(51, 51, 51);  
  font-weight: bold;
  margin-bottom: 20px;
}
.__artpie p{
  color: #ffffff;
  line-height: 7px;
}
.__artpie a{
  text-decoration: none;
  color: #ffffff;
  line-height: 10px;  
}
